<div class="outer">
  <div class="container">
      <button class=" mt-4 rounded-circle btn  " (click)="onClose()"><span class="fa-1x fa fa-close close"></span></button>
  <h1 class="mt-3">Share options</h1>
  
  <p class="mt-5 mb-5">Thank you for spreading word about our website. Pick where you want to share please:</p>
  <div class="icons">
  <span class="mr-4 facebook fa-4x fab fa-facebook-square"></span>
  <span class="mr-4  whatsapp fa-4x fab fa-whatsapp-square	"></span>
  <span class="mr-4 twitter  fa-4x fab fa-twitter-square"></span>
  <span class="mr-4 googleplus fa-4x fab fa-google-plus-square"></span></div>
</div>
</div>